h1{
    text-align: center;
}
.main{
    border: 2px solid black;
    border-radius: 20px;
    height: 550px;
    width: 400px;
    margin: 15px auto 3px;
}
.display{
    height: 100px;
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 25px auto auto;
}
.first > button{
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    margin: 18px 0;
    font-weight: bold;
    font-size: x-large;
}
.second > button{
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    font-weight: bold;
    font-size: x-large;
}
.third > button{
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    margin: 18px 0;
    font-weight: bold;
    font-size: x-large;
}
.four > button{
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: x-large;
}
.first{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.second{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.third{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.four{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

